* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body {
  background-image: url('../images/fundo02.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100vh;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.container {
  background-color: rgba(0,0,0,0.7);
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 80px 1fr 70px;
}

.container > .header-content {
  background-color: #252525;
  color: #fff;
  height: 100%;
  width: 100%;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.container > .header-content > h1 {
  padding-left: 10px;
  text-shadow: 1px 2px 2px #000;
  letter-spacing: 1.5px;
}

.container > .header-content > nav > a {
  padding: 14px;
  padding-right: 3px;
  letter-spacing: 1.5px;
  color: #fff;
  text-decoration: none;
}

.container > .header-content > nav > a:hover {
  text-decoration: underline;
}

.container > .header-content > .links {
  width: 100%;
  display: flex;
  justify-content: center;
}

.container > .header-content > .links > a {
  background-color: #1d1d1def;
  border-radius: 4px;
  color: #fff;
  margin: 5px;
  padding: 5px;
  text-decoration: none;
  transition: all .5s;
}

.container > .header-content > .links > a:hover {
  background-color: #1d1d1d00;
  color: #00B7FF;
  text-decoration: underline;
}

.container > .main-content > iframe {
  height: 100%;
  width: 100%;
}

.container > .footer-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container > .footer-content > p > a {
  color: #fff;
  text-decoration: none;
  transition: all .5s;
}

.container > .footer-content > p > a:hover {
  color: #00B7FF;
  text-decoration: underline;
}

.container > .footer-content {
  background-color: #252525;
  color: #fff;
  height: 100%;
  width: 100%;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container > .footer-content > p > a {
  color: #fff;
  text-decoration: none;
  transition: all .6s;
}

.container > .footer-content > p > a:hover {
  color: aqua;
  text-decoration: underline;
}