* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body {
  background-color: #bfbbbb;
  height: 100vh;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.container {
  background-color: rgba(0,0,0,0.7);
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 70px 1fr 70px;
}

.container > .header-content {
  background-color: #1e1e1e;
  color: #fff;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.container > .header-content > h1 {
  width: 100%;
  text-shadow: 1px 2px 2px #000;
  letter-spacing: 1.5px
  padding-left: 6px;
}

.container > .header-content > nav {
  width: 100%;
  display: flex;
  justify-content: center;
}

.container > .header-content > nav > a {
  background-color: #1d1d1def;
  border-radius: 4px;
  color: #fff;
  margin: 2px;
  margin: 2px;
  padding: 5px;
  text-decoration: none;
  transition: all .5s;
}

.container > .header-content > nav > a:hover {
  background-color: #1d1d1d00;
  color: #00B7FF;
  text-decoration: underline;
}

.container > .main-content {
  color: #fff;
  display: grid;
  grid-template-rows: repeat(3, 100vh);
}

.container > .main-content > section.content {
  background-color: #373737;
  height: 100%;
  width: 100%;
  display: grid;
}

#col01 {
  padding: 10px;
  display: flex;
  align-items: end;
  justify-content: start;
}

#col02 {
  height: 100%;
  width:100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
}

#col03 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container > .main-content > section.content > .imagem > img {
  height: 200px;
  width: 250px;
}

.container > .main-content > section.content-image {
  background-image: url('../images/fundo.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.container > .main-content > section.content-table {
  background-color: #373737;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px;
}

.container > .main-content > section.content-table > table {
  border: 1px solid black;
  border-collapse: collapse;
}

.container > .main-content > section.content-table > table > caption {
  background-color: #242424;
  border-bottom: 0px solid black !important;
  border:1px solid black;
  border-collapse: collapse;
  padding: 6px;
  text-align: start;
}

.container > .main-content > section.content-table > table > thead > tr > th {
  background-color: #242424;
}

.container > .main-content > section.content-table > table > tbody > tr > td {
  background-color: #b8b8b8;
  color: #000;
}

.container > .main-content > section.content-table > table > tbody > tr > td > input {
  background-color: #d3313100;
  border:none;
  display: inline;
  width:100%;
}

.container > .main-content > section.content-table > table > tbody > tr > td > input:hover {
  outline:none;
}

.container > .main-content > section.content-table > table > tbody > tr > td > button#update {
  background-color: #55d331;
  border: none;
  border-radius:6px;
  color: #fff;
  padding: 3px;
}

.container > .main-content > section.content-table > table > tbody > tr > td > button#delete {
  background-color: #d33131;
  border: none;
  border-radius:6px;
  color:#fff;
  padding: 3px;
}

.container > .main-content > section.content-table > table > tbody > tr > td > button#update:hover {
  border:2px outset gray;
  transform: scale(0.9);
  padding:2px;
}
.container > .main-content > section.content-table > table > tbody > tr > td > button#delete:hover {
  border:2px outset gray;
  transform: scale(0.9);
  padding:2px;
}

.container > .main-content > section.content-table > table > tfoot > tr > th {
  background-color: #242424;
  color: #fff;
  padding: 12px;
}

.container > .main-content > section.content-table > table > tfoot > tr > th > a {
  background-color: #242424;
  color: #fff;
  padding: 12px;
}

.container > .main-content > section.content-table > table > tfoot > tr > th > a:hover {
  background-color: #242424;
  color: aqua;
  padding: 12px;
}

.container > .main-content > section.content-table > table > thead > tr > th, .container > .main-content > section.content-table > table > tbody > tr > td {
  padding: 8px;
  border: 1px solid black;
}

.container > .footer-content {
  background-color: #1e1e1e;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container > .footer-content > p > a {
  color: #fff;
  text-decoration: none;
  transition: all .5s;
}

.container > .footer-content > p > a:hover {
  color: #00B7FF;
  text-decoration: underline;
}