* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body {
  background-image: url('../images/fundo02.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100vh;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.container {
  background-color: rgba(0,0,0,0.7);
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 1fr 70px;
}

.container > .header-content {
  color: #fff;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container > .header-content > h1 {
  text-shadow: 2px 4px 4px #000;
  letter-spacing: 0px;
  text-align: center;
  font-size: 2.8rem;
}

.container > .header-content > h1 > span {
  color: #0306aa;
}

.container > .header-content > .links {
  width: 100%;
  padding-top: 15px;
  display: flex;
  justify-content: center;
}

.container > .header-content > .links > a {
  background-color: #0306aa;
  border-radius: 4px;
  color: #fff;
  margin: 5px;
  margin-left: 30px;
  padding: 5px;
  text-decoration: none;
  transition: all .5s;
}

.container > .header-content > .links > a:hover {
  background-color: #1d1d1d00;
  color: #00B7FF;
  text-decoration: underline;
}

.container > .footer-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container > .footer-content > p > a {
  color: #fff;
  text-decoration: none;
  transition: all .5s;
}

.container > .footer-content > p > a:hover {
  color: #00B7FF;
  text-decoration: underline;
}