<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon" />
  <link rel='stylesheet' href='/stylesheets/style.css' />
<title>SigTec - Sistema de Gestão do 3° ano Técnico</title>
</head>
<body>
<div class="container">
<div class="header-content">
<h1><span id="arrow">&lt</span> Sig-<span>T</span>ec <span id="arrow">/</span><span id="arrow">&gt</span></h1>
<div class="links">
<a href="formLogin" target="frame">Entrar</a>
<a href="formCadastro" target="frame">Cadastrar-se</a>
</div>
</div>
<div class="footer-content">
<p>
<a href="https://github.com/theus-iago/" target="_blank">&copyIago</a>
</p>
</div>
</div>
</body>
</html>